* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1080px;
}

.background {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 0;
    background-image: url(desktopFullLogoShort.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

nav{
    grid-column:1/2;
    grid-row: 1/2;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

nav ul{
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    display: flex;
    width: 90px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul li:hover {
    background-color: #99cc33;
}

nav ul li a:link {
    color: whitesmoke;
    text-decoration: none;
}


nav ul li a:visited {
    color: whitesmoke;
}
footer{
    font-size: 35px;
    color: #99cc33;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 45px;
    margin-bottom: 20px;
}

footer div i{
    margin: 5px;
}


@media (max-width:768px) {
    .background{
        background-image: url(tabletFullLogo.png);
    }
    
    footer{
        font-size: 35px;
        color: #99cc33;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 45px;
        margin-bottom: 20px;
    }
}